
body{
    background: #dbeef6;
    font-size: 14px;
}

.contact-box{
    background: #fff;
    display: flex;
    flex-direction: row;
}
.container{
    display: grid;
}
.contact-left{
    flex-basis: 100%;
    padding: 44px 60px;
}
.contact-right{

    flex-basis: 100%;
    padding: 40px;
    background: #031971;
    color: #fff;
    width:350px;
  
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 10px;
    margin-top: 15px;
    display: block;
    color:#031971;
}
button{
    background: #031971;;
    width: 100px;
    border: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
margin-top: 20px;
box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
color: #031971;
font-weight: 600;
margin-bottom: 30px;
}
.contact-left h3{
    font-weight: 600;
    margin-bottom: 30px;
    }
    tr td:first-child{
padding: 20px;
    }
    tr td{
        padding-top: 20px;
        line-height: 20PX;
    }
